.img-buscador {
  width: 100px;
}

.container-desc-buscador {
  text-align: left;
}

.container-info-busqueda {
  flex-grow: 1;
  margin: 4%;
}

.container-imagen-buscador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-resultados {
  padding: 20px;
}
