.buscador {
  &__container-resultados {
    padding: 20px;
  }
  &__container-desc {
    text-align: left;
  }
  &__container-imagen-buscador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--img {
      width: 100px;
    }
  }
}

.container-imagen-buscador {

}
