.img-detalle {
  height: 400px;
}

.container-producto {
  margin: 16px;
  background-color: #ededed;
}

.container-miga {
  margin: 16px;
}

.container-descripcion {
  text-align: left;
}

.container-item-comprar {
  height: 400px;
}

.container-item-comprar {
  margin-top: 32px;
  margin-left: 16px;
}

.container-items-comprar {
  text-align: left;
  margin: 5%;
}

.container-button-comprar {
  text-align: center;
}
